<h2>Point of Sale</h2>

<form class="form-inline">
    <div class="form-group">
        <label for="code">Code</label>
        <input type="text" class="form-control" ng-model="$ctrl.code" placeholder="0123456789">
    </div>
    <button id="add" type="button" class="btn btn-default" ng-click="$ctrl.add()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
    </button>
</form>

<table id="detail" class="table table-hover">
    <thead>
        <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Unit Price</th>
            <th>Description</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in $ctrl.items">
            <td>{{item.productId}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.unitPrice | currency}}</td>
            <td>{{item.productDesc}}</td>
        </tr>
    </tbody>
</table>

<div class="col-md-8">&nbsp;</div>
<div id="total" class="col-md-4">
    <h3>{{$ctrl.totalAmount | currency}}</h3>
</div>
<div class="col-md-10">
    &nbsp;
</div>
<div class="col-md-2">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.confirm()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Confirm
    </button>
</div>